@import url('https://fonts.googleapis.com/css?family=Open+Sans|Zilla+Slab:700');

html, body {
  background-color:#eee;
  font: normal 14px 'Open Sans', sans-serif;
}

a {
    color: #222;
}

.title {
  font-family: 'Zilla Slab', serif;
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
}

nav {
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items:flex-end;
  background: -webkit-radial-gradient(center bottom, rgba(160, 201, 215, 0.8) 0%, rgba(160, 201, 215, 0) 70%), -webkit-linear-gradient(top, black 0%,#282F44 6%,#2C3551 52%,#354262 91%,#050C54 100%);
  /* background-color:#ddf; */
  margin-bottom:20px;
  padding:0;
  height: 60px;
  box-shadow: 1px 1px 5px #000;
  color:#FFF;
} 

nav .topicLink {
  background-color:rgba(255,255,255,1);
  padding:1vw;
  margin:0 1vw; 
  min-width: 10vw !important;
  font-family: 'Zilla Slab', serif;
  font-size: calc(6px + 1vw);
  text-align:center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: -1px -1px 3px #000;
}


nav .topicLink:hover {
  background-color: rgba(200, 200, 255, 0.5);
  box-shadow: inset 1px 1px 3px #000;
  color:#fff;
}

nav h1 {
  font-family: 'Zilla Slab', serif;
  font-size:4vw;
  margin: 20px;
  align-self:center;
  line-height:60px;
  color:#fff;
  text-shadow: -1px -1px 3px #000;
  white-space:nowrap;
  overflow:hidden;
}

.columns {
  padding: 0 20px;
}

/* ArticleList */

 .profile {
  padding:20px;
  margin: 10px;
  font-size:12px;
} 

/* ArticleCard  */

h2, h3 {
  font-family: 'Zilla Slab', serif;
}

#ArticleList .title:not(:last-child), #TopicPage .title:not(:last-child) {
    margin-bottom:0;
}

.topic {
  text-transform:capitalize;
}

.media-left, .vote {
  background-color:#2C3551;
  width:10%;
  padding:10px;
  font-size:3vw;
  font-weight:bold;
  color:#fff;
  text-align:center;
  display: flex;
  flex-flow:row nowrap;
  justify-content:space-around;
  align-items:center;
}

.media-left:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* Profile */

.profileWrap {
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items:center;
  margin-bottom:20px;
}

.avatar {
  width: 20%;
  margin-right:10px;
}

.profileName {
  display:flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.profileName .title {
  font-size: 2vw;
}

/* ArticlePage  */

.articlePage {
  font-size: 20px;
}

.articleTitle {
  margin-bottom:20px;
}

.voteAndComment {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
}

.vote {
  margin-right: 10px;
  min-height: 100%;
  /* display:table-cell; */
  
}

.voteCount {
  margin: 0 auto;
  height:100%;
  padding-bottom: 5px;
}

.voteButton {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items:center;
}

.voteButton button, .submitButton {
  background-color:#2C3551;
  margin: 5px;
  padding: 5px;
  border:none;
  font-size: 24px;
  font-weight:bold;
  color: #fff;
} 

.voteButton button:hover, .submitButton:hover {
  background-color:#77f;
}

.postedComment {
  margin: 10px 0;
  width: 50%;
  border-radius: 5px;
  border: solid 1px #aaa;
  box-shadow: 1px 1px 3px #aaa;
  background-color:#fff;
  padding:10px;
  overflow:hidden;
  word-wrap:break-word;
}

.newComment {
  width:39%;
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.newComment form {
  margin:0;
  padding:0;
}

.commentBody{
  font-size:14px;
}

.commentInfo {
  font-size: 12px;
  line-height:12px;
  margin:0;
  padding:0;
  color:#888;
}